{% extends "business/base.html.twig" %}
{% block body %}
    <h1 class="my-4">Enquery Sent</h1>

    <div class="alert alert-success">
        <h2>Success</h2>
        <p>Your enquiry has been sent.</p>
        <p><a class="btn btn-info" href="{{path('homepage')}}"><i class="fa fa-home"></i> Home</a></p>
    </div>

{% endblock %}