{% extends "business/base.html.twig" %}
{% block title %}{{ yt.title }} {% endblock %}

{% block body %}
<iframe style="width: 100%; height: 500px" src="https://www.youtube.com/embed/{{ yt.url|getYtId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div>
    <h2>{{ yt.title }}</h2>
    <p>{{ yt.description }}</p>
</div>
{% endblock %}