<form method="post" action="{{ path('yt_gallery_delete', {'id': yt_gallery.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ yt_gallery.id) }}">
    <button class="btn">Delete</button>
</form>
